{% extends "base.html" %} 
{% block title %}Профиль пользователя{% endblock %} 
{% block header %}Профиль пользователя: {{ username.get_full_name }}.{% endblock %} 
{% block content %} 
<main role="main" class="container"> 
    <div class="row"> 
            <div class="col-md-3 mb-3 mt-1"> 
                    <div class="card"> 
                            <div class="card-body"> 
                                    <div class="h2"> 
                                        {{ username.get_full_name }} 
                                    </div>
                                    <div class="h3 text-muted"> 
                                         {{ username }} 
                                    </div> 
                            </div> 
                            <ul class="list-group list-group-flush"> 
                                    <li class="list-group-item"> 
                                            
                                    </li> 
                                    <li class="list-group-item"> 
                                            <div class="h6 text-muted"> 
                                                {% if request.user.id is username.id %}
                                                <a class="btn btn-sm text-muted" href="{% url 'profile_edit' username.username %}"role="button">Редактировать профиль</a>
                                                <a class="btn btn-sm text-muted" href="{% url 'profile_delete' username.username %}"role="button">Удалить профиль</a> 
                                                {% endif %}
                                            </div> 
                                    </li> 
                            </ul> 
                    </div> 
            </div> 
            <div class="col-md-9"> 
                <img src="../../users/{{username.image}}" width="500" height="300"/><p>
                Название компании: {{ username.username}}<p>
                Имя: {{ username.first_name }}<p>
                Фамилия: {{ username.last_name }}<p>
                Адрес почты: {{ username.email }}<p>
                <!-- Начало блока с отдельным постом --> 
                {% for post in author_posts %} 
                    <div class="card mb-3 mt-1 shadow-sm"> 
                            <div class="card-body"> 
                                    <p class="card-text"> 
                                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки --> 
                                            <a href="{% url 'profile' username.username %}"> 
                                                <strong class="d-block text-gray-dark">{{ post.author.get_full_name }}</strong></a> 
                                    </p> 
                                            <!-- Текст поста --> 
                                    <p>{{ post.title|linebreaksbr }}</p> 
                                    <div class="d-flex justify-content-between align-items-center"> 
                                            <div class="btn-group "> 
                                                    <!-- Ссылка на страницу записи в атрибуте href--> 
                                                    <a class="btn btn-sm text-muted" href="{% url 'post_view' post.pk %}" role="button">Перейти к мероприятию</a> 
                                                    
                                            </div> 
                                            {% if request.user.id is post.author.id %}
                                            
                                                        <a class="btn btn-sm text-muted" href="{% url 'post_edit' username.username post.id %}"role="button">Редактировать</a> 
                                                        <a class="btn btn-sm text-muted" href="{% url 'post_delete' post.id %}"role="button">Удалить</a> 
                                            {% endif %}
                                            <!-- Дата публикации  --> 
                                            <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small> 
                                    </div> 
                            </div> 
                    </div> 
                    {% if not forloop.last %}<hr>{% endif %} 
                {% endfor %} 
                <!-- Остальные посты --> 
     </div> 
    </div> 
</main>  
{% endblock %} 